{% extends "base.html" %}
{% block content %}
    <h1>Lista De Catalogos</h1>

    {% if catalogo_list %}
    <ul>

      {% for catalogo in catalogo_list %}
      <li>
        <a href="{{ catalogo.get_absolute_url }}">{{ catalogo.title }}</a>
        <a href="/catalogo-delete/{{ id_catalogo }}" 
          onClick="return confirm('¿Seguro que quieres borrar a {{catalogo.title}}?');">
            Borrar
        </a>
      </li>
      {% endfor %}

    </ul>

    {% else %}
      <p>No Hay Catalogos Agregados</p>
    {% endif %} 
      
{% endblock %}